.expense-item {
	display: flex;
	border-bottom: 1px solid #4e5664;
}

.expense-item--container {
	display: flex;
	flex-direction: column;
	width: 100%;
	padding: 0.5rem 0;
}

/* .expense-item--container:last-child {
	border: none;
} */

.expense-item--flex {
	display: flex;
	justify-content: space-between;
}

.expense-item--wrapper {
	display: flex;
}

.expense-item__type {
	font-size: 1rem;
}

.expense-item__name {
	font-size: 1.25rem;
	text-align: left;
}

.expense-item__cost {
	color: #e97d7d;
	font-size: 1.1rem;
	text-align: right;
}

.expense-item__date {
	/* color: var(--text-color-secondary); */
	text-align: right;
	font-style: italic;
	font-size: 0.75rem;
}

.expense-item--delete-btn {
	color: var(--text-error);
	border: none;
	outline: none;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 2rem;
	margin-left: 0.25rem;
	margin-top: 0.85rem;
	padding: 0 0.5rem;
}

.expense-item--delete-btn i {
	color: var(--text-error);
	font-size: 1.25rem;
}
