.budget-welcome {
	color: rgb(6, 39, 10);
	padding: 0 1rem;
}

.budget-amount {
	color: #fff;
	width: 100%;
	padding: 0 1rem;
}

.budget-amount__remaining--dollars {
	font-size: 2.5rem;
	padding: 0 0.3rem;
}

.budget-amount__total--dollars {
	font-size: 1.5rem;
	color: rgb(6, 39, 10);
	padding: 0 0.3rem;
}

.budget-amount--cents {
	font-size: 1rem;
}
