.budget-text {
	font-size: 1.1rem;
	color: var(--tertiary-color);
}

.budget-amount {
	width: 100%;
	color: var(--text-color);
	text-align: center;
}

.budget-amount__remaining--dollars {
	font-size: 2.5rem;
}

.budget-amount__total--dollars {
	font-size: 1.5rem;
	padding: 0 0.3rem;
	color: var(--tertiary-color);
}

.budget-amount--cents {
	font-size: 1rem;
}
