.budget {
	position: relative;
	height: 35vh;
	width: 100%;
	display: flex;
	flex-direction: column;
	background: var(--primary-color);
	background: linear-gradient(var(--primary-color) 0%, var(--secondary-color) 100%);
	border-radius: 0 0 1.25rem 1.25rem;
	padding: 0.5rem;
}
