.add-expense--container {
	position: relative;
	height: 7vh;
	width: 100%;
	background: #242931;
}

.add-expense--btn {
	width: 65px;
	height: 65px;

	border: 6px solid #242931;
	bottom: 35%;
	left: 50%;
	transform: translateX(-50%);

	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;

	background: var(--color-accent-primary);
	color: var(--color-secondary);

	border-radius: 50%;
	font-size: 2rem;
}

.add-expense--btn i {
	font-weight: bold;
}

@media (min-width: 768px) {
	.add-expense--container {
		width: auto;
		height: auto;
		position: absolute;
		right: 10%;
		bottom: 3%;
	}
}
