.btn--add {
	width: 50px;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	bottom: 3%;
	right: 5%;
	font-size: 2rem;
	background: var(--color-secondary);
	color: var(--color-primary);
	box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
	border-radius: 50%;
	z-index: 80;
}

.btn--add i {
	font-weight: bold;
}

@keyframes slide-down {
	from {
		opacity: 0;
		transform: translateY(-50rem);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}
