.btn--add {
	width: 65px;
	height: 65px;

	border: 6px solid #242931;
	bottom: 35%;
	left: 50%;
	transform: translateX(-50%);

	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;

	background: var(--color-accent-primary);
	color: var(--color-secondary);

	border-radius: 50%;

	font-size: 2rem;
}

.wrapper {
	position: relative;
	height: 7vh;
	width: 100%;
	background: #242931;
}

.btn--add i {
	font-weight: bold;
}

@keyframes slide-down {
	from {
		opacity: 0;
		transform: translateY(-50rem);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}
