.expenses {
	width: 100%;
	height: calc(65vh - 7vh - 40px);
	padding: 0.5rem;
	padding-bottom: 3rem;
	background: var(--color-primary);
	overflow: scroll-y;
}

@media (min-width: 768px) {
	.expenses {
		width: 90%;
		max-width: 800px;
		border-radius: 0.5rem;
		height: 42vh;
		margin: 0 auto;
	}
}
