.dropdown {
	position: relative;
	width: 100%;
	min-width: 115px;
	height: 5vh;
	min-height: 1.5rem;
	background: transparent;
	color: var(--color-primary-alt);
}

.dropdown p {
	display: flex;
	color: var(--text-primary);
	font-weight: 700;
}

.dropdown__header {
	width: 100%;
	display: flex;
	background: transparent;
	cursor: pointer;
}

.dropdown:focus {
	border: 1px solid var(--bg-secondary);
}

.dropdown__list {
	position: absolute;
	height: 45vh;
	min-width: 115px;
	width: 100%;
	background: var(--color-primary-alt);
	border-radius: 0.25rem;
	overflow-y: auto;
	overflow-x: hidden;
	animation: slide-down 300ms ease-out forwards;
	z-index: 99;
}

.dropdown i {
	font-size: 1.5rem;
}

.dropdown__item {
	list-style-type: none;
}

.dropdown__item button {
	padding: 0.3rem;
	border: none;
	margin: 0.15rem 0;
	font-size: 1.25rem;
	color: var(--color-primary);
	background-color: transparent;
}

@keyframes slide-down {
	from {
		opacity: 0;
		transform: translateY(0);
	}
	to {
		opacity: 1;
		transform: translateY(0.5rem);
	}
}
