.App {
	position: relative;
	height: 100vh;
	overflow: hidden;
}

.wrapper {
	display: flex;
	flex-direction: column;
}

.top-wrapper {
	background: rgb(37, 108, 52);
}

.bottom-wrapper {
	background: rgb(143, 180, 80);
}
