.App {
	position: relative;
	width: clamp(0%, 100%, 1200px);
	height: 100vh;
	margin: 0 auto;
	background: var(--color-primary);
	overflow: hidden;
}

.filters {
	width: clamp(300px, 100%, 800px);
	margin: 0 auto;
	display: flex;
	padding: 0.5rem;
}
