@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');

:root {
	--font-primary: 'Open Sans';
	--font-secondary: 'sans-serif';
	--color-primary: #39414e;
	--color-primary-alt: #fff;
	--color-secondary: #59daa4;
	--accent-primary: #f478b8;
	--accent-secondary: #8378f4;
	--accent-tertiary: #59d4d9;
	--accent-quaternary: #858b97;
	--color-error: #e97d7d;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: var(--font-primary), var(--font-secondary);
	/* background: var(--color-primary); */
}

h2 {
	color: var(--text-primary);
}

h3,
p {
	color: var(--text-secondary);
}

i {
	font-size: 2.25rem;
}
