@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');

:root {
	--font-primary: 'Open Sans';
	--font-secondary: 'sans-serif';
	--color-primary: #39414e;
	--color-secondary: #fff;
	--color-accent-primary: #8378f4;
	--color-accent-secondary: #858b97;
	--color-error: #e97d7d;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: var(--font-primary), var(--font-secondary);
	/* background: var(--color-primary); */
}

h2 {
	font-size: 1rem;
	color: var(--color-secondary);
}

h3,
p {
	color: var(--color-accent-secondary);
}

i {
	font-size: 2.25rem;
}

@media (max-width: 411px) {
	h2 {
	}

	h3,
	p {
		color: var(--color-accent-secondary);
	}

	i {
		font-size: 2.25rem;
	}
}
